/* Created font with SVGs with icomoon */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kh6yxi');
  src:  url('fonts/icomoon.eot?kh6yxi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kh6yxi') format('truetype'),
    url('fonts/icomoon.woff?kh6yxi') format('woff'),
    url('fonts/icomoon.svg?kh6yxi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gif:before {
  content: "\e900";
}
.icon-attachment:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e902";
}
.icon-table:before {
  content: "\e903";
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, san-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f8f8f8;
}

*::selection {
  color: white;
  background-color: #111111;  
}

.rightItems {
  float: right;
}

.textSuperBold {
  font-weight: 600 !important;
}

div#container {
  width: 640px;
  margin: auto;
  padding: 40px 0px;
}

@media only screen and (max-width: 700px) {
  div#container {
    width: 320px;
  }

  #modal > .titleContainer input {
    width: 250px !important;  
  }
}

#composerCompressed {
  background-color: white;
  border-radius: 30px;
  border: 1px solid #EEEEEE;
  height: 47px;
  line-height: 47px;
  padding-right: 8px;
  padding-left: 20px;
  align-items: center;
  cursor: pointer;
  color: #B8B8B8;
  font-size: 13px;
}

#composerCompressed:hover {
  background-color: #F3F4F7;
  border: 1px solid #B4BDCF;
  color: #506690;
}

#composerCompressed > .leftItems img {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  cursor: default;
  margin: 13px 0px;
  float: left;
}

#composerCompressed .compressedText {
  margin-left: 12px;
  float: left;
}

.pencilContainer {
  width: 36px;
  height: 36px;
  display: flex;
  margin: 4px -2px 4px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

#composerCompressed:hover .pencilContainer {
  background-color: #E6E9EF;  
}

.icon-pencil {
  font-size: 18px;
  color: #414141;
}

#composerCompressed:hover .icon-pencil {
  color: #506690;  
}

#composerModal {
  display: none;
}

#composerModal > #modalSurround {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: rgba(17, 17, 17, 0.3);
}

#composerModal > #modal {
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(17, 17, 17, 0.3) 0px 2px 4px;
  z-index: 101;
  position: relative;
  padding: 12px 24px 8px;
}

#modal > .titleContainer {
  padding: 8px 0px;
  height: 56px;
}

#modal > .titleContainer input {
  width: 570px;
  float: left;
  font-size: 30px; 
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #B8B8B8;
}

#modal > .titleContainer .charsLeft {
  float: right;
  color: rgb(184, 184, 184);
  font-size: 12px;
  letter-spacing: 0.1em;
  padding: 12px 0px;
}

#modal > .textContainer {
  font-size: 13px;
  line-height: 23px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  cursor: text;
  padding: 24px 0px;
  min-height: 200px;
}

#modal > .textContainer:focus {
  outline: none;
}

#modal > .buttonsContainer {
  padding: 16px 0px;
  cursor: default;
  display: flex;
}

#modal > .buttonsContainer .leftItems {
  justify-content: flex-start;
  display: flex;
  width: 30%;
  align-items: center;
}

#modal > .buttonsContainer .rightItems {
  justify-content: flex-end;
  display: flex;
  width: 70%;
  align-items: center;
}

#modal > .buttonsContainer span {
  color: #414141;
  font-size: 16px;
  margin-right: 16px;
  cursor: pointer;
}

#modal > .buttonsContainer button {
  padding: 8px 20px;
  font-size: 11px;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  border-radius: 20px;
}

.buttonCancel {
  border: 1px solid #506690;
  color: #506690;
  margin-right: 16px;
  transition-property: border-color, color;
  font-weight: 600;
  background-color: transparent;
}

.buttonCancel:focus {
  border-color: #052460;
  color: #052460;
  outline: none;
}

.buttonConfirm {
  background-color: #052460;
  transition-property: background-color;
  border: none;
  color: white;
  font-weight: 650;
}

.buttonConfirm:focus {
  outline: none;
}

.buttonConfirm.buttonDisabled {
  background-color: #B4BDCF;
}